.MuiBox-root-2{
    position: relative;
}

.btn-section{
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%) scale(3);
}

.MuiBadge-root{
    position: absolute!important;
    top: 10px;
    right: 10px;
}
